{{ $src := .Get "src" | default (.Get 0) }}
{{ $alt := .Get "alt" | default "" }}
{{ $caption := .Get "caption" | default (or (.Inner | plainify) "") }}
{{ $class := .Get "class" | default "" }}
{{ $img := .Page.Resources.GetMatch $src }}
<figure class="figure {{ $class }}">
{{ if not $img }}
  <img src="{{ $src }}" alt="{{ $alt }}" loading="lazy">
{{ else }}
  {{ $s := $img.Fit "400x" }}
  {{ $m := $img.Fit "800x" }}
  {{ $l := $img.Fit "1200x" }}
  {{ $webpSmall := $s.Convert "webp" }}
  {{ $webpMedium := $m.Convert "webp" }}
  {{ $webpLarge := $l.Convert "webp" }}
  <picture>
    <source type="image/webp" srcset="{{ $webpSmall.RelPermalink }} 400w, {{ $webpMedium.RelPermalink }} 800w, {{ $webpLarge.RelPermalink }} 1200w" sizes="(max-width:800px) 100vw, 800px">
    <img src="{{ $m.RelPermalink }}" srcset="{{ $s.RelPermalink }} 400w, {{ $m.RelPermalink }} 800w, {{ $l.RelPermalink }} 1200w" sizes="(max-width:800px) 100vw, 800px" alt="{{ $alt }}" loading="lazy">
  </picture>
{{ end }}
{{ if $caption }}
  <figcaption class="figcaption">{{ $caption | safeHTML }}</figcaption>
{{ end }}
</figure>
