{{ $src := .Get "src" | default (.Get 0) }}
{{ $alt := .Get "alt" | default "" }}
{{ $caption := .Get "caption" | default (or (.Inner | plainify) "") }}
{{ $class := .Get "class" | default "" }}
{{ $img := .Page.Resources.GetMatch $src }}
<figure class="figure {{ $class }}">
{{ if not $img }}
  <img src="{{ $src }}" alt="{{ $alt }}" loading="lazy">
{{ else if eq $img.MediaType.SubType "svg" }}
  <img src="{{ $img.RelPermalink }}" alt="{{ $alt }}" loading="lazy">
{{ else }}
  {{ if gt $img.Width 0 }}
    {{ $s := $img.Resize "400x" }}
    {{ $m := $img.Resize "800x" }}
    {{ $l := $img.Resize "1200x" }}
    <img src="{{ $m.RelPermalink }}" srcset="{{ $s.RelPermalink }} 400w, {{ $m.RelPermalink }} 800w, {{ $l.RelPermalink }} 1200w" sizes="(max-width:800px) 100vw, 800px" alt="{{ $alt }}" loading="lazy">
  {{ else }}
    <img src="{{ $img.RelPermalink }}" alt="{{ $alt }}" loading="lazy">
  {{ end }}
{{ end }}
{{ if $caption }}
  <figcaption class="figcaption">{{ $caption | safeHTML }}</figcaption>
{{ end }}
</figure>
